# Lab 1: Basic Python Programming

## 1. Basic usage

> John Doe is a 29 years-old system engineer who earns ฿41500.00 a month.

Create and assign variables to store this person's information (name, age, position and salary).

In [8]:
# Write your code here
user = {
    "John Doe" : {
    "name" : "John Doe", 
    "age" : 29,
    "position": "system engineer",
    "salary" : 41500.00
}}

import pprint
pprint.pprint(user)

{'John Doe': {'age': 29,
              'name': 'John Doe',
              'position': 'system engineer',
              'salary': 41500.0}}

What is the type of each variables?

In [9]:
# Write your code here
print("Name type :", type(user['John Doe']['name']))    # String
print("Age type :", type(user['John Doe']['age']))      # Integer
print("Position type :", type(user['John Doe']['position']))    # String
print("Salary type :", type(user['John Doe']['salary']))        # Float

Name type : <class 'str'>
Age type : <class 'int'>
Position type : <class 'str'>
Salary type : <class 'float'>

The manager decides to give John a 7% raise. Update his salary.

In [10]:
# Write your code here
user['John Doe']['salary'] *= 1.07
print("Updated salary : ", "{:.2f}".format(user['John Doe']['salary']) , "฿")

Updated salary :  44405.00 ฿

Prints his information again with his new salary.

In [11]:
# Write your code here
pprint.pprint(user['John Doe'])

{'age': 29,
 'name': 'John Doe',
 'position': 'system engineer',
 'salary': 44405.0}

Now, he decides to resign. Delete his information from the system.

In [115]:
# Write your code here
del(user["John Doe"])
print(user["John Doe"])

KeyError: 'John Doe'

## 2. Variable and Expression

**2.1** Write a code to convert temperature unit from celcius to other units

In [116]:
C = 34.5

**Fahrenheit**  
#### $\frac{C}{5} = \frac{F-32}{9}$

In [117]:
F = ((C / 5) * 9 ) + 32
print("In Fahrenheit :", F)

In Fahrenheit : 94.1

**Kelvin**  
$K = C + 273.15$

In [118]:
K = C + 273.15
print("In Kelvin :", K)

In Kelvin : 307.65

**Rømer**  
#### $Ro = \frac{C \times 21}{40} + 7.5$

In [119]:
Ro = ((C * 21)/40) + 7.5
print("In Romer :", Ro)

In Romer : 25.6125

## 3. Multi-item variables
#### List

In [120]:
names = ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']

Create new variable call `new_name` which takes input name of the user.

In [121]:
new_name = input('Enter your name: ')

Insert `new_name` into `names` list.

In [122]:
# Write your code here
names.append(new_name)
print(names)

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'Kim']

Select your name from the list

In [123]:
# Write your code here
names[6]

'Kim'

Merge `another_names` into `names`.

In [124]:
another_names = ['Peter', 'Steve', 'Sam', 'Charlotte']

In [125]:
# Write your code here
names += another_names
print("Updated names :", names)

Updated names : ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'Kim', 'Peter', 'Steve', 'Sam', 'Charlotte']

Change `Amelia`'s name to `Amy`

In [126]:
# Write your code here
names[3] = 'Amy'
print("Updated names :", names)

Updated names : ['Thomas', 'Kate', 'Mike', 'Amy', 'James', 'Megan', 'Kim', 'Peter', 'Steve', 'Sam', 'Charlotte']

#### Dictionary

In [127]:
capital_city = {'England':'London',
                'Spain':'Madrid',
                'Japan':'Tokyo',
                'Australia':'Sydney',
                'Germany':'Berlin',
               }

Add a record `Thailand` and it's capital city to this dictionary

In [129]:
# Write your code here
capital_city['Thailand'] = 'Bangkok'
pprint.pprint(capital_city)

{'Australia': 'Sydney',
 'England': 'London',
 'Germany': 'Berlin',
 'Japan': 'Tokyo',
 'Spain': 'Madrid',
 'Thailand': 'Bangkok'}

You may notice that the capital city of `Australia` is wrong. It should be `Canberra`. Correct this mistake.

In [130]:
# Write your code here
capital_city['Australia'] = 'Canberra'
pprint.pprint(capital_city)

{'Australia': 'Canberra',
 'England': 'London',
 'Germany': 'Berlin',
 'Japan': 'Tokyo',
 'Spain': 'Madrid',
 'Thailand': 'Bangkok'}

## 4. Control Flows and conditional statements

### if...elif...else

**1.** Define a variable to get input age from user.

In [17]:
age = int(input("Input your age : "))
print("Input your age : ", age)     # cause vscode not showing input box in notebook

Input your age :  19

Write a series of if...elif...else statement that categorize input age into following groups:
> Babies: 0-2 years old  
Children: 3-12 years old  
Teenager: 13-19 years old  
Young Adults: 20-29 years old  
Middle-aged Adults: 30-45 years old  
Old Adult: 46-59 years old  
Elderly: Above 60 years old

In [18]:
# Write your code here
status = ""


if 0 <= age <= 2:
    status = "Babies"
elif age <= 12:
    status = "Children"
elif age <= 19:
    status = "Teenager"
elif age <= 29:
    status = "Young Adults"
elif age <= 45:
    status = "Middle-aged Adults"
elif age <= 59:
    status = "Old Adult"
else:
    status = "Elderly"


print("You are", status + ".")

You are Teenager.

### Looping

**1.** Write a code to create a multiplication table of an input number (multiplier from 1-12).

In [112]:
# Write your code here
mul_num = int(input("Please Input Number : "))
print("Please Input Number :", mul_num)
for i in range(1, 12+1):
    print(mul_num, "x", f"{i:<2d}", "=", mul_num*i)

Please Input Number : 5
5 x 1  = 5
5 x 2  = 10
5 x 3  = 15
5 x 4  = 20
5 x 5  = 25
5 x 6  = 30
5 x 7  = 35
5 x 8  = 40
5 x 9  = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

**2.** Write a code that construct the following pattern.

input: 5  
output: 
*  
**  
***  
****  
*****

In [69]:
# Write your code here
pyramid1 = int(input("input: "))
print("input:", pyramid1)
for line in ["*" * i for i in range(1,pyramid1+1)]:
    print(line)

input: 5
*
**
***
****
*****

**3.** Creates a loop to print `I love <programming language>!` except for Assembly, print `Not you, Assembly`.

In [24]:
languages = ['C/C++', 'Python', 'R', 'Java', 'SQLs', 'Assembly', 'Go', 'Rust', 'Kotlin']

In [70]:
# Write your code here
for language in languages:
    print(f"I love {language}!") if language != 'Assembly' else print("Not you, Assembly.")

I love C/C++!
I love Python!
I love R!
I love Java!
I love SQLs!
Not you, Assembly.
I love Go!
I love Rust!
I love Kotlin!

**4.** Write a code to print every number from 1 to 25 except the one that is divisible by 3.

In [71]:
# Write your code here
import numpy as np
for num in np.arange(1, 26):
    if num % 3:
        print(num, end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25

**5.** Write a code that finds the number that is divisible by 7 in a given range.

In [76]:
lower_bound = 1
upper_bound = 100
divisor = 7

result = []

In [80]:
# Write your code here
def di(lower, upper, divisor, result):
    result = list()
    for num in np.arange(lower, upper+1):
        result.append(num) if not (num % divisor) else []
    return result

print(*di(lower_bound, upper_bound, divisor, result), sep=", ")

7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98

**6.** Write a code that construct the following pattern.

input: 5  
output:  
*#####
**####
***###
****##
*****#

input: 10  
output:  
*##########  
**#########  
***########  
****#######  
*****######  
******#####  
*******####  
********###  
*********##  
**********#

In [54]:
# Write your code here
input_num = int(input("input: "))
print("input:", input_num, "\noutput:")
for num in range(1, input_num+1):
    print("*"*num + "#"*(input_num+1-num))

input: 10
output:
*##########
**#########
***########
****#######
*****######
******#####
*******####
********###
*********##
**********#

## 5. Functions

**1.** Define a function `average` that takes arbitrary number of arguments and calculate the mean of input.

In [90]:
# Write your code here
def average(*numbers):
    return sum(numbers)/len(numbers)

num_list = [2, 4, 5, 3]
print("The average of ", num_list, " is ", average(*num_list), ".", sep="")

The average of [2, 4, 5, 3] is 3.5.

**2.** Define a function `sumproduct` that takes 2 equal-sized lists and calculate sum of the products of two lists.  
It should look like this:  
> sumproduct([1,2,3],[4,5,6])  
output: 32

(1 * 4) + (2 * 5) + (3 * 6) = 32

In [6]:
# Write your code here
def sumproduct(list1, list2):
    multiple_list = list(map(lambda x, y : x*y , list1, list2))
    return sum(multiple_list)

sumproduct([1,2,3],[4,5,6])

32

**3.** Define a function `fibonacci` that returns Fibonacci number at `n` position.  
A Fibonacci number at position `n` is defined by `F(n) = F(n-1) + F(n-2)`. Where `F(0) = 0` and `F(1) = 1`  
**Example:** `0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...`

In [111]:
# Write your code here
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

for i in range(7):
    print(f"Fibonacci number at <{i}> position is {fibonacci(i)}.")
print(f"\n{'⋮':^38s}")

Fibonacci number at <0> position is 0.
Fibonacci number at <1> position is 1.
Fibonacci number at <2> position is 1.
Fibonacci number at <3> position is 2.
Fibonacci number at <4> position is 3.
Fibonacci number at <5> position is 5.
Fibonacci number at <6> position is 8.

                  ⋮

**4.** Define a function `is_palindrome` that takes input string and check whether it is a palindrome or not.  
A string is a palindrome if it reads the same forward and backwards.  
**Example:** `madam`, `race car`, `borrow or rob`, `amore roma`, `never odd or even`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
**Hint:** you can reverse the string using `[::-1]` slice.

In [136]:
str1 = "radar" # palindrome
str2 = "rotator" # palindrome
str3 = "lemon" # not palindrome

In [138]:
# Write your code here
def is_palindrome(str):
    str = str.replace(' ', '').lower()
    return str == str[::-1]

show_palindrome = lambda str: f"\"{str}\" is {'' if is_palindrome(str) else 'not '}palindrome."

print(show_palindrome(str1))
print(show_palindrome(str2))
print(show_palindrome(str3))

"radar" is palindrome.
"rotator" is palindrome.
"lemon" is not palindrome.

**5.** An `anagram` is a word or phrase formed by rearranging the letters of a different word or phrase.  
Define a function `is_anagram` that takes in 2 strings and check whether it is possible to compose a second string using letters in the first string or not.  
**Example:** `Tom Marrvolo Riddle` can be rearraged into `I am Lord Voldermort`  
`Meaning of Life` can be rearranged into `Engine of a Film`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
Returns only `True` of `False`

In [ ]:
# Write your code here
str1 = "Meaning of Life"
str2 = "Engine of a Film"

---